.App {
  display: flex;
  position: relative;
  border: 2px solid blue;
}

.column {
  border: 1px #ccc solid;
  flex-grow: 1;
  margin: 25px;
  text-align: center;
}

.card {
  padding: 25px;
  border: 2px solid red;
  display: flex;
  flex-grow: 1;
}

.card span {
  flex-grow: 1;
  text-align: center;
}
